<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="user.password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="Submit()" type="submit" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="Register()" color="light" expand="block">Signup</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>

