

  <form [formGroup]="formProduct" (ngSubmit)="Submit()">
    <ion-list>

      <div class="product-image">
        <img [src]="this.formProduct.controls.imgUrl.value" alt="Ionic logo">
      </div>

      <ion-button (click)="getImageModal()">Set Image</ion-button>

      <ion-item>
        <ion-label>Id</ion-label>
        <ion-input formControlName="id" placeholder="Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ImgUrl</ion-label>
        <ion-input formControlName="imgUrl" placeholder="Imagen Url"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Id</ion-label>
        <ion-input formControlName="descripcion" placeholder="Descripcion"></ion-input>
      </ion-item>

      <ion-button  (click)="Submit()">Submit</ion-button>

    </ion-list>


  </form>


