<div class="container">
  <div class="row p-3">
      <div *ngFor="let item of productos" class="col-6 col-md-3 card p-0 m-2">
        <div class="img">
          <img [src]="item.imgUrl" class="img-fluid" alt="image">
        </div>
        <div class="id">
          {{item.id}}
        </div>
        <div class="descrip">
          {{item.descripcion}}
        </div>
        <div class="actions w-100 d-flex flex-col justify-end">
          <button type="button" class="btn btn-outline-primary">add</button>
          <button type="button" class="btn btn-outline-danger" (click)="Remove(item)">remove</button>
        </div>
      </div>
    </div>
</div>




